body {
    border: darkgrey 2px solid;
    width: 1200px;
    margin-top: 5px;
    margin: 0 auto;
    background-color: #ebebeb;
}


/* Header Start*/

header {
    background: url("../images/background-image.jpg");
    height: 800px;
}

.header {
    float: left;
    width: 600px;
}

.header h1 {
    margin-left: 20px;
    margin-top: 10px;
    color: black;
    font-family: "Verdana","San-serif";
    font-size: 30px;
}

.header nav {
    text-align: right;

}

nav ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
    font-family: "Verdana","San-serif";
    font-size: 30px;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: #5D6680;
}

/* Header End */




/* Main Homepage Start */

#width-height {
    height: 450px;
}

.portrait {
    width: 600px;
    float: left;
    height: 200px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 200px;
}

.aboutme {
    width: 600px;
    float: right;
    height: 200px;
    padding-top: 110px;
    margin-bottom: 200px;
}

.aboutme p {
    font-family: "Verdana", "Sans-serif";
    font-size: 18px;
    padding-right: 12px;
    color: #5D6680;
    
}

.aboutme p a {
    text-decoration: none;
    color: black;
}

#all-logos {
    width: 1200px;
    height: 450px;
    background-color: #93B9C9;
    
}

.logos {
    width: 400px;
    float: left;
    text-align: center;
    padding-top: 100px;
    
}

.logos p {
    font-family: "Verdana", "Sans-serif";
    color: black;
}

/* Main Homepage End */



/* Main Projects Page Start */

#projects-height {
    width: 1200px;
    height: 400px;
}

.hobby-page {
    width: 550px;
    height: 300px;
    float: left;
    padding-top: 50px;
    padding-left: 50px;
}

.hobby-page img {
    border: #93B9C9 solid 2px;
}

.coffee {
    width: 600px;
    height: 200px;
    float: right;
    padding-top: 150px;
    font-family: "Verdana", "Sans-serif";
    color: #5D6680;

}

/* Main Projects Page End */




/* Main Contacts Page Start */

#container {
    width: 1200px;
    height: 700px;
}


#contact-form {
    width: 400px;
    margin: 20px;
    float: left;
}

#contact-form label {
    font-size: 18px;
    font-family: "Verdana", "Sans-serif";
    color: #5D6680;
    padding-bottom: 5px;
}

#contact-form input {
    border: solid 2px #93B9C9;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 18px;
    color: #93B9C9;
    padding-left: 11px;
}

#contact-form .form-buttons {
    margin: 20px;
    color: #93B9C9;
    font-size: 18px;
    width: 360px;
}

#contact-form .form-buttons:hover {
    border: solid orangered 2px;
    cursor: pointer;
    color: lightblue;
}

#contact-form textarea {
    border: solid 2px #93B9C9;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 11px;
    font-size: 18px;
    color: #93B9C9;
}

#address {
    width: 600px;
    height: 600px;
    float: right;
}

#address p {
    text-align: center;
    padding-top: 150px;
    font-family: "Verdana", "Sans-serif";
    font-size: 32px;
    line-height: normal;
}

#address p a {
    text-decoration: none;    
    color: #5D6680;
}

/* Main Contacts Page End */




/* Footer Start */

footer {
    height: 100px;
}

/* Footer End */