body {
    border: darkgrey 2px solid;
    width: 1200px;
    margin-top: 5px;
    margin: 0 auto;
    background-color: #ebebeb;
}


/* Header Start*/

header {
    background: url("../images/background-image.jpg");
    height: 800px;
}

.header {
    float: left;
    width: 600px;
}

.header h1 {
    margin-left: 20px;
    margin-top: 10px;
    color: black;
    font-family: "Verdana","San-serif";
    font-size: 30px;
}

.header nav {
    text-align: right;

}

nav ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
    font-family: "Verdana","San-serif";
    font-size: 30px;
    text-decoration: none;

}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* Header End */

/* Main Homepage Start */

#width-height {
    height: 1000px;
}

.portrait {
    width: 600px;
    float: left;
    height: 200px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 200px;
}

.aboutme {
    width: 600px;
    float: right;
    height: 200px;
    padding-top: 110px;
    margin-bottom: 200px;
}

.aboutme p {
    font-family: "Verdana", "Sans-serif";
    font-size: 18px;
    padding-right: 12px;
    
}

#all-logos {
    width: 1200px;
    height: 500px;
}

.logos {
    width: 400px;
    float: left;
    text-align: center;
}

/* Main Homepage End */




/* Footer Start */

footer {
    height: 100px;
}

/* Footer End */