body {
    background-color: brown;
}

header, main, footer {
    width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    font-size: 36px;
}

header, main {
    border-bottom: black 5px solid;
}

header h1 {
    font-family: "Zapfino";
    font-size: 48px;
    text-align: center;
    color: brown;
    line-height: 84px;
}

#custom-height {
    line-height: 12px;
}

#logo {
    float: left;
}

#title-container {
    margin-left: 200px;
}