body {
    background-color: brown;
}

header, main, footer {
    width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    font-size: 36px;
}

/* HEADER STYLES START */

header {
    padding-right: 0;
    width: 950px;
}

header, main {
    border-bottom: brown 5px solid;
}

header h1 {
    font-family: "Zapfino";
    font-size: 48px;
    text-align: center;
    color: brown;
    line-height: 84px;
}

#custom-height {
    line-height: 12px;
}

#logo {
    float: left;
}

#title-container {
    margin-left: 200px;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
    background-color:brown;
    color: white;
    padding: 12px;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: "Arial";
}

nav ul li:hover {
    background-color: lightcoral;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link {
    color: white;
}

nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    text-decoration: none;
}

nav ul li a:ctive {
    /*color: lightpink;*/
}

/* HEADER STYLES END */


/* FOOTER STYLES START */

footer {
    color: brown;
    font-family: "Arial";
    line-height: 48px;
}

#copyright {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

#social-links ul {
    text-align: center;
    margin-bottom: 20px;
}

#social-links ul li {
    display: inline-block;
    border: solid 1px brown;
    border-radius: 10px;
    padding: 0;
}

#social-links ul li {
    line-height: 100%;
    box-sizing: border-box;
}

#social-links ul li a {
    display: inline-block;
    padding: 8px;
}

#social-links ul li a:link {
    text-decoration: none;
    color: brown;
}

#social-links ul li a:visited {
    color: brown;
}

#social-links ul li a:hover {
 color: white;
 background-color: brown;
}

/* FOOTER STYLES START */



/* MAIN DEFAULT STYLES START */

main {
    font-family: "Arial";
    color: brown;
}

main h1 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

main p {
    font-size: 24px;
}



/* MAIN DEFAULT STYLES END */